@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@font-face {
  font-family: "Archivo";
  src:
    url("/fonts/Archivo-Regular.woff2") format("woff2"),
    url("/fonts/Archivo-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@view-transition {
  navigation: auto;
}

@font-face {
  font-family: "Archivo";
  src:
    url("/fonts/Archivo-Medium.woff2") format("woff2"),
    url("/fonts/Archivo-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Archivo";
  src:
    url("/fonts/Archivo-SemiBold.woff2") format("woff2"),
    url("/fonts/Archivo-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Clash";
  src:
    url("/fonts/ClashDisplay-Semibold.woff2") format("woff2"),
    url("/fonts/ClashDisplay-Semibold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Archivo", sans-serif;
  font-weight: 400; /* Ajoutez une fallback */

  background-color: #f8f8f8;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Clash", sans-serif;
  font-weight: 600;
  margin: 0 0 0.5rem 0;
  line-height: 1.2;
}
h1 {
  font-size: 2.441em;
}
h2 {
  font-size: 1.953em;
}
h3 {
  font-size: 1.563em;
}
h4 {
  font-size: 1.25em;
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--accent);
}
a:hover {
  color: var(--accent);
}
p {
  margin-bottom: 1em;
}

input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 0.5em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

.prose a {
  @apply relative font-medium text-blue-500 no-underline;
}

.prose a:hover {
  @apply text-blue-600;
}

/* Styles pour les liens externes */
.prose a[href^="http"] {
  @apply items-center;
}

.prose a[href^="http"]::after {
  content: "";
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25'/%3E%3C/svg%3E")
    no-repeat 50% 50%;
  mask-size: cover;
  @apply inline-block w-4 h-4 ml-1 bg-current;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer components {
  .prose h2 {
    @apply text-[26px] md:text-[30px] relative hover:no-underline;
  }

  .prose li {
    @apply text-[18px] md:text-[20px] text-gray-700 mb-2;
  }

  .prose p {
    @apply text-[18px] md:text-[20px] text-gray-700;
  }

  .prose
    :where(p code, li code, h1 code, h2 code, h3 code, h4 code):not(
      :where([class~="not-prose"] *)
    ) {
    @apply bg-blue-100 text-blue-500 px-2 rounded inline-block font-archivo font-medium text-[16px] md:text-[18px];
  }

  .prose
    :where(p code, li code, h1 code, h2 code, h3 code, h4 code):not(
      :where([class~="not-prose"] *)
    )::before {
    content: "" !important;
  }

  .prose
    :where(p code, li code, h1 code, h2 code, h3 code, h4 code):not(
      :where([class~="not-prose"] *)
    )::after {
    content: "" !important;
  }

  .prose h2::before {
    @apply text-blue-600;
    content: "# ";
  }
  .prose img {
    @apply rounded-lg border w-full shadow-sm;
  }
}
