---
import background from '../assets/background.svg';
import CodeBlock from '../components/CodeBlock.astro';
---

	<div id="container">
		<img id="background" src={background.src} alt="" fetchpriority="high" />
		<CodeBlock lang="js" code="console.log('Hello, world!')" />
		<main>
			<section id="hero">
				<h1 class="text-5xl font-bold">Astro</h1>
				<p>Astro is a new kind of static site builder.</p>
				</section>
			</section>
		</main>
	</div>	

	
