---
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import Hero from '@/components/homepage/Hero';
import MaskText from '@/components/homepage/MaskText';
import Skill from '@/components/homepage/Skill';
import Slider from '@/components/homepage/Slider';
import Testimonials from '@/components/homepage/Testimonials';
import '@/styles/global.css';
import ViewTransitions from "astro/components/ViewTransitions.astro";

---

<html lang="fr" class="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/ico" href="/image/favicon.ico" />
    <title>Guillaume Bielli | Digital Worker & Frontend Lover</title>
    <meta name="description" content="J'aide les entreprises à développer l'acquisition client et à construire une expérience utilisateur hors norme avec une logique data-driven.">
  </head>
  <body class="min-h-screen w-full">
    <Header />
    <main class="">
    <Hero client:load />
    <div>
      <MaskText client:load />
      <Slider client:load />
      <Skill client:load />
      <Testimonials client:load />
    </div>
        <slot />
    </main>
    <ViewTransitions />
  </body>
  <Footer />
</html>

