---
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import Hero from '@/components/Hero';
import MaskText from '@/components/MaskText';
import Skill from '@/components/Skill';
import Slider from '@/components/Slider';
import Testimonials from '@/components/Testimonials';
import '@/styles/global.css';
import ViewTransitions from "astro/components/ViewTransitions.astro";

---

<html lang="fr" class="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
  
  </head>
  <body class="min-h-screen w-full">
    <Header />
    <main class="">
    <Hero client:load />
    <div>
      <MaskText client:load />
      <Slider client:load />
      <Skill client:load />
      <Testimonials client:load />
    </div>
        <slot />
    </main>
    <ViewTransitions />
  </body>
  <Footer />
</html>

